.basket {
    padding: 16px 0 50px 0;
    width: 100%;
}

.basket h1 {
    color: var(--text-black);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    margin-bottom: 27px;
}

.goods__select-all {
    display: flex;
    padding-bottom: 14px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--rulers-rulers);
}

.goods__select-all img {
    margin-top: -2px;
}

#select-all+label::before {
    margin-right: 11px;
}

#select-all+label span {
    margin-top: -2px;
}

#select-all+label {
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.goods input+label {
    margin-left: 0;
}

.goods__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    margin-bottom: 36px;
    /* margin-top: 1px; */
}


.goods h2 {
    width: 100%;
    border-bottom: 1px solid var(--rulers-rulers);
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    padding-bottom: 18px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.goods__missing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;   
}

.goods__missing li:last-child {
    margin-top: 2px;
}