.basket {
    padding: 16px 0 50px 0;
    width: 100%;
}

.basket h1 {
    color: var(--text-black);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    margin-top: 18.5px;
    margin-bottom: 27px;
}


.basket__details_list_missing {
    padding-top: 14px;
}

.basket__details_list_missing[open] {
    padding-top: 35px;
}

.goods__select-all {
    display: flex;
    padding-bottom: 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--rulers-rulers);
}

.basket__details_list_main[open] .goods__select-all {
    display: flex;
    padding-bottom: 14px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--rulers-rulers);
}


.goods__select-all img {
    margin-top: 3px;
}

.basket__details_list_main[open] .goods__select-all img {
    margin-top: -2px;
}

.basket__details_list_missing .basket__summary-img {
    margin-top: 6px;
}

.basket__details_list_missing[open] .basket__summary-img {
    margin-bottom: 0;
}


#select-all+label::before {
    margin-right: 11px;
}

#select-all+label span {
    margin-top: -2px;
}

#select-all+label {
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.goods input+label {
    margin-left: 0;
}

.goods__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}


.goods h2 {
    width: 100%;
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.goods__missing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.goods__missing li:last-child {
    margin-top: 2px;
}


.basket__details_list_missing h2 {
    border-bottom: none;
    padding-bottom: 0;
}

.basket__details_list_missing[open] h2 {
    border-bottom: 1px solid var(--rulers-rulers);
    padding-bottom: 16px;
}


.goods__select-all p {
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: -2px;
}

details summary {
    cursor: pointer;
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none;
    content: "";
}

.basket__summary-img {
    transition: all .2s ease 0s;
}

details:not([open]) .basket__summary-img {
    transform: rotate(0.5turn);
}


@media (max-width: 1000px) {
    .basket {
        padding: 15px 0 16px 0;
    }
}

@media (max-width: 660px) {
    .basket h1 {
        padding-right: 16px;
        padding-left: 16px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: -0.2px;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .goods {
        padding-right: 16px;
        padding-left: 16px;
    }
    .basket__summary-img {
        margin-right: 4px;
    }
    .basket__details_list_main[open] .goods__select-all {
        border-bottom: unset;
    }
    .basket__details_list_missing[open] h2 {
        border-bottom: unset;
    }    

    .basket__details_list_missing[open] {
        padding-top: 46px;
    }

    .goods__list,
    .goods__missing {
        gap: 16px;
    }

    .basket {
        padding-bottom: 13px;
    }
}