.header {
    height: 112px;
    width: 100%;
    padding: 16px 0 40px 0;
}

.nav__left {
    height: 56px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    color: var(--white);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font-variant: all-small-caps;
    letter-spacing: 2px;
    display: block;
    width: 106px;
    margin-top: -7px;
}

.nav__logo span {
    display: block;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__burger svg {
    width: 48px;
    height: 48px;
}

.nav__burger {
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url(../../assets/images/menu-btn.svg);
}

.nav__menu-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.nav__menu-icons a {
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 3px;
}

.nav__menu-icons span {
    color: var(--white);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.nav__basket {
    position: relative;
}

.nav__basket-items {
    position: absolute;
    top: -4px;
    left: 36px;
    background-color: var(--orange);
    border-radius: 50px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav__basket-items span {
    color: var(--white);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    display: block;
}

.header__search {
    position: relative;
    background: rgba(255, 255, 255, 0.20);
    padding: 0 20px 4px 20px;
    border-radius: 36px;
    width: 970px;
    height: 48px;
}

#search {
    background-color: transparent;
    color: var(--white);
    width: 100%;
    height: 100%;
}

#search::placeholder {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.5;
    color: var(--white);
    font-family: var(--font) !important;
}

#search::-webkit-search-cancel-button {
    display: none;
}

.header__search-button {
    position: absolute;
    right: 20px;
    top: 12px;
    width: 24px;
    height: 24px;
    outline: 0;
}

.header__search-sm {
    display: none;
}

@media (max-width: 1385px) {
    .header__search {
        position: relative;
        background: rgba(255, 255, 255, 0.20);
        padding: 0 20px 4px 20px;
        border-radius: 36px;
        width: 594px;
        height: 48px;
    }

    .header__input {
        border-radius: 36px;
        height: 48px;
        width: 594px;
    }
}

@media (max-width: 1000px) {
    .nav__burger {
        display: inline-block;
        width: 28px;
        height: 28px;
        background-image: url(../../assets/images/menu-btn-sm.svg);
        margin-right: 20px;
    }

    .nav__menu-icons,
    .header__search {
        display: none;
    }

    .header__search-sm {
        display: block;
    }

    .nav__logo {
        width: unset;
    }

    .nav__left {
        width: unset;
    }
    .nav__logo span {
        display: inline;
    }
}

@media (max-width: 660px) {
    .header {
        height: 56px;
        width: 100%;
        padding: 0 13px;
    }

    .nav__logo {
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
        font-variant: all-small-caps;
        letter-spacing: 2.2px;        
        margin-bottom: 2px;
    }
}