.radio__btns {
    display: flex;
    gap: 8px;
    margin-bottom: 26px;
}

.radio__btn input[type=radio] {
    display: none;
}

.radio__btn {
    cursor: pointer;
    height: 36px;
    display: flex;
    border-radius: 20px;
    border: 2px solid rgba(203, 17, 171, 0.15);
    background-color: var(--white);
    color: var(--text-black);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.077%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 224px;
}

.radio__btn:has(input[type=radio]:checked) {
    border: 2px solid #CB11AB;
}

.radio__btn label:hover {
    color: #666;
}

.radio__btn input[type=radio]:disabled+label {
    background: #efefef;
    color: #666;
}

.radio__block button {
    float: right;
    text-align: right;
}

.radio__del {
    float: right;
    text-align: right;
    display: block;
}

.radio__del:hover path {
    fill: var(--orange);
}


.radio__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
}

.radio__main-block {
    width: 100%;
}